body {
  margin: 0;
  padding: 0;
}


/*-- Navbar --------------------------------------------------------- */

.navbar {
  width: 100%;
  position: fixed;
  background-color: red;
}

.navbar-section {
  display: grid;
  grid-template-columns: 0.3fr 1.4fr 0.3fr 0.2fr 0.2fr;
  gap: 1rem;
}

.navbar-section > h1 {
  margin: 0;
}

form {
  display: flex;
}

form > input {
  width: 100%;
}
/* Sidebar ------------------------------------------------- */

.sidebar {
  position: fixed;
  margin-top: 37.5px;
  width: 150px;
  height: 100vh;
  overflow-y: scroll;
  background-color: red;
}

.sidebar > ul {
  margin: 0;
  padding: 0;
}

.sidebar > ul > li > img{
  width: 50px;
}

/*-- Category Display ----------------------------------------------------------- */

.category {
  background-color: green;
  padding-top: 50px;
  padding-left: 180px;
}

/*-- Games --------------------------------------------------------------------- */

.games {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.games-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 30px;
  gap: 1rem;
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.game-card > img {
  width: auto;
  height: 200px; 
  object-fit: cover;
}

.game-card > h1 {
  margin: 0;
  font-size: 1.5rem;
}

.game-card > .emoji {
  width: 50px;
  object-fit: contain;
  height: fit-content;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #000000; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (prefers-reduced-motion) {
  
  .react-loading-skeleton {
    --pseudo-element-display: block;
  }
}

.skeleton-card {
  width: 300px;
  background-color: black;
  border: 1px solid white;
}

