body {
  margin: 0;
  padding: 0;
}

/*-- Navbar --------------------------------------------------------- */

.navbar {
  background-color: red;
  margin-top: 0.5rem;
}

.navbar-section {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr 0.2fr 0.2fr 0.2fr;
}

.navbar-section > h1 {
  margin: 0;
}

.navbar-section > input {
  margin-right: 1rem;
}

/*-- Category Display ----------------------------------------------------------- */

.category {
  background-color: green;
}

/*-- Games --------------------------------------------------------------------- */

.games {
}

.games-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 1rem;
}

.game-card {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
}

.game-card > img {
  width: auto;
  height: 200px; 
  object-fit: cover;
}

.game-card > h1 {
  margin: 0;
  font-size: 1.5rem;
}